[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
systemd-python = "*"

[dev-packages]
python-lsp-server = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pygobject-stubs = "*"

[requires]
python_version = "3.8"
